<div class="row">

  <div class="col-xl-12 mt-2">
    <div class="card">
      <div class="card-header d-sm-flex d-block pb-0 border-0">
        <div>
          <h4 class="fs-20 text-black">Cryptocurrency Converter</h4>
        </div>
        <form>
        <mat-form-field   class="dashboard-select">
          <mat-select placeholder="Choose Your Coin" >
            <mat-option (click)="getCoinId(item.id)" value="{{item.name}}" *ngFor="let item of Coins"> <img src="{{ item.image }}" class="width20 mr-3" /> {{item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </div>
      <div class="card-body">
        <div class="basic-form">
          <form class="form-wrapper">
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">Price</span>
                </div>
                <input 
                #p="ngModel"
                [(ngModel)]="price"
                (ngModelChange)="changeTotal()"
                type="text" class="form-control" 
                [ngModelOptions]="{ standalone: true }" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">Quantity</span>
                </div>
                <input
                type="number"
                class="form-control"
                required
                #q="ngModel"
                [(ngModel)]="quantity"
                (ngModelChange)="changeTotal()"
                [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total</span>
                </div>
                <input
                type="number"
                class="form-control"
                disabled
                [(ngModel)]="total"
                [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
