<div class="card">
  <div class="card-header border-0 flex-wrap pb-0">
    <div class="mb-3">
      <h4 class="fs-20 text-black">The 2 best cryptocurrencies to invest in 2022 </h4>
      <p class="mb-0 fs-15 text-black">
        Evolution chart for this week
      </p>
    </div>
    <mat-radio-group  (change)="checkValue($event)" aria-label="Select an option">
      <mat-radio-button value="bitcoin" checked>Bitcoin</mat-radio-button>
      <div class="space"></div>
      <mat-radio-button value="ethereum">Ethereum</mat-radio-button>
    </mat-radio-group>
   <!-- <div class="d-flex flex-wrap mb-2"   (change)="selectChangeHandler($event)">
      <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
        <input type="checkbox" class="custom-control-input" id="customCheck9" />
        <label class="custom-control-label" for="customCheck9">
          <span class="d-block font-w500 mt-2">BTC</span>
        </label>
      </div>
      <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
        <input  checked value="bitcoin"
          type="checkbox"
          class="custom-control-input"
          id="customCheck91"
        />
        <label class="custom-control-label" for="customCheck91">
          <span class="d-block font-w500 mt-2">XRP</span>
        </label>
      </div>
      <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
        <input
          type="checkbox"
          class="custom-control-input"
          id="customCheck92"
        />
        <label class="custom-control-label" for="customCheck92">
          <span class="d-block font-w500 mt-2">ETH</span>
        </label>
      </div>
      <div class="custom-control check-switch custom-checkbox mr-4 mb-2">
        <input
          type="checkbox"
          class="custom-control-input"
          id="customCheck93"
        />
        <label class="custom-control-label" for="customCheck93">
          <span class="d-block font-w500 mt-2">ZEC</span>
        </label>
      </div>
    </div>
  -->
  </div>
  <div class="card-body pb-0" >
    <div id="marketChart" class="market-line">
      <apx-chart
        id="lineChart"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
        [labels]="chartOptions.labels"
        [legend]="chartOptions.legend"
        [title]="chartOptions.title"
        [subtitle]="chartOptions.subtitle"
        [colors]="chartOptions.colors"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"
        [stroke]="chartOptions.stroke"
        [grid]="chartOptions.grid"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>
  </div>
</div>
