<div class="authincation h-100">
  <div class="container vh-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-lg-6 col-md-8">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <img src="assets/images/logo-full.png" alt="" style="margin-left: 60px"/>
                </div>
                <h1 style="margin-left: 170px;font-size: 47px;font-family: Sofia;;margin-top: -40px">
                  <strong>CFU</strong></h1>
              <br><h4 style="font-size: 15px;font-family: cursive;margin-left: 170px;margin-top: -40px;">CoinFollowUp</h4>
                <h4 class="text-center mb-4">Sign in your account</h4>
                <form
                class="form-valide" action="#" method="post" [formGroup]="angForm" novalidate
                >
                  <div class="form-group">
                    <label class="mb-1" for="email"
                      ><strong>Email</strong><span class="text-danger">*</span></label
                    >
                    <input type="text" class="form-control" id="email" formControlName="email" placeholder="Your valid email..">
                          <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="text-danger fs-13 mt-1">
                            <div *ngIf="angForm.controls['email'].errors.required">
                              Email is required.
                            </div>
                            <div *ngIf="angForm.controls['email'].errors.pattern">
                              Email must be a valid email address.
                             </div>
                          </div>
                    
                  </div>
                  <div class="form-group">
                    <label class="mb-1" for="password"
                      ><strong>Password</strong><span class="text-danger">*</span></label
                    >
                    <div class="mb-1">
                      <div class="input-group">
                        <input #inputPassword type="password" class="form-control" formControlName="password"  id="password" placeholder="Choose a safe one..">
                        
                        <div class="input-group-append show-pass1 ">
                          <span class="input-group-text "> 
                            <i class="fa" [ngClass]="{'fa-eye-slash': toggleEye, 'fa-eye': !toggleEye}" (click)="toggleEyeIcon(inputPassword)"></i>
                                                      </span>
                                                  </div>
                                              </div>
                      
                      <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="text-danger fs-13 mt-1">
                        
                        <div *ngIf="angForm.controls['password'].errors.required">
                          Password is required.
                                                  </div>
                        <div *ngIf="angForm.controls['password'].errors.minlength">
                          Password must be at least 6 characters.
                                                  </div>
                                              </div>	
                                          </div>
                    
                  </div>
                  <div
                    class="form-row d-flex justify-content-between mt-4 mb-2"
                  >
                    
                    <div class="form-group">
                      <a [routerLink]="['/forgot']"
                        >Forgot Password?</a
                      >
                    </div>
                  </div>
                  <div class="text-center">
                    <button
                      class="btn btn-primary btn-block"
                      [disabled]="angForm.pristine || angForm.invalid "
                      (click)="onSubmit()"
                    >
                      Sign Me In
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                      [style.border]="'#3b5998'"
                      [style.background]="'#3b5998'"
                      (click)="facebookSignin()"
                    >
                      Sign in with <i class="fa fa-facebook"></i>
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                      [style.border]="'#FF4B4B'"
                      [style.background]="'#FF4B4B'"
                      (click)="googleSignin()"
                    >
                      Sign in with <i class="fa fa-google-plus"></i>
                    </button>
                  </div>
                </form>
                <div class="new-account mt-3">
                  <p>
                    Don't have an account?
                    <a class="text-primary" [routerLink]="['/register']"
                      >Sign up</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
